{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.collection == 'publications' %}
   <p><i>{{ post.venue }}</i>{% if post.status %}, <strong>{{ post.status }}</strong>{% endif %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>

      {% if post.authors %}
        <p>{{ post.authors }}</p>
      {% endif %}

      {% if post.doi %}
        <p>DOI: <a href="https://doi.org/{{ post.doi }}" target="_blank">{{ post.doi }}</a></p>
      {% endif %}

    {% elsif post.collection == 'teaching' %}
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>

    {% elsif post.date %}
      <p class="page__date">
        <strong>Published:</strong>
        <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">
          {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}
        </time>
      </p>
    {% endif %}

  </article>
</div>
